main {
  background-color: #9191f7;
  margin-bottom: 4%;
}
.fix-nav{
  position: fixed;
  bottom:0px;
  width:100vw;
}
.post-button:hover{
  background-color:#436fd6;
}
.show{
  color:red;
}
.to-right{
  padding-left: 20px;
  padding-right: 30px;
}